<h1>About koony</h1>
<p>Compass has been designed with something very specific in mind: to be a simple and elegant personal landing page.</p>
<hr />
<h2>Features</h2>
<ul>
  <li>Responsive design</li>
  <li>Mobile friendly</li>
  <li>Easy deployment to GitHub Pages</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-envelope-o fa-lg main-list-item-icon"></span>
    <script type="text/javascript">
      <!--
      var string1 = "info";
      var string2 = "@";
      var string3 = "koony.de";
      var string4 = string1 + string2 + string3;
      document.write("<a href=" + "mail" + "to:" + string1 + string2 + string3 + ">" + string4 + "</a>");
      //-->
    </script>
  </li>
  <li class="main-list-item">
    <span class="fa fa-phone fa-lg main-list-item-icon"></span>
    <a href="tel:+49 8807 214 300">+49 8807 214 30-0</a>
  </li>
</ul>

<hr />
<div class="impressum">
  <p>koony digital UG (haftungsbeschränkt)</p>
  <p>Seeweg-Süd 2<br />86911 Dießen am Ammersee</p>
  <p>Geschäftsführer: Andreas Will<br>
  HRB: 2332316<br>
  Amtsgericht München</p>
</div>
